<configuration>

	<connectionStrings>

		<add name="cn" connectionString =" Data Source = DESKTOP-4HVP8OJ ; Initial Catalog = HospitalDatabase ; Integrated Security = True "/>

	</connectionStrings>

	<startup>

		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />

	</startup>

	<appSettings>

		<add key="selectParent" value="Select * from Hospital"/>

		<add key="selectChild" value="Select * from Doctor where HospitalID= @pFKid"/>

		<add key="ParentTableName" value="Hospital "/>

		<add key="ChildTableName" value="Doctor "/>

		<add key="ChildNumberOfColumns" value="3"/>

		<add key="ChildColumnNames" value="DoctorName,DoctorSpecialization,DoctorEmail"/>

		<add key="ColumnNamesInsertParameters" value ="@DoctorName,@DoctorSpecialization,@DoctorEmail"/>

		<add key="InsertQuery" value="INSERT INTO Doctor(DoctorName, DoctorSpecialization, DoctorEmail,HospitalID) VALUES(@DoctorName,@DoctorSpecialization,@DoctorEmail,@pFKid)"/>

		<add key="UpdateQuery" value="UPDATE Doctor SET DoctorName=@DoctorName, DoctorSpecialization=@DoctorSpecialization WHERE DoctorID=@id"/>

		<add key="DeleteQuery" value ="DELETE FROM Doctor WHERE DoctorID=@id"/>
		
		<add key="index" value ="1"/>

	</appSettings>



</configuration>